// 省略号
@mixin ellipsis($row-count) {
    @if $row-count==1 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    @else {
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $row-count;
    }
}
